<div class="container">
    <div class="row text-center mt-4">
        <%= link_to 'Volver', pins_path, class: 'btn btn-outline-danger text-danger' %>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="bajada  py-4">
                <h2 class="text-uppercase font-weight-bold">Crear Pin</h2>
            </div>
        </div>
    </div>
</div>

<%= render 'form', pin: @pin %>


