// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.texto-pin-interior{
    margin-left: -8rem;
    -webkit-box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -13px rgba(0,0,0,0.75);
}
.img-pins-interior{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.img-pins-interior img{
    width: 100%;
}